.github/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/index.html
webview-ui/package.json
webview-ui/package-lock.json
src/**
node_modules/**
.gitignore
esbuild.js
tsconfig.json
**/*.map
